        <p-toolbar styleClass="mb-6">
            <h1>Listado</h1>
            <ng-template #start>
                <div class="container mx-auto px-4 mt-4 sm:mt-0">
                  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <div class="col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-4 gap-4">

                   </div>
                  </div>
                </div>
            </ng-template>

            <ng-template #end>
                 <a href="/"><p-button icon="pi pi-times" severity="danger" [rounded]="true" [outlined]="true"/></a>

            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="products()"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['proceso_contratacion', 'country.proceso_contratacion', 'representative.proceso_contratacion', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedProducts"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Mostrando {first} de {last} of {totalRecords} Partidas"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 20, 30]"
            [showGridlines]="true"
            [columns]="selectedColumns"
            [reorderableColumns]="true"
            [scrollable]="true"
            scrollHeight="800px"
        >
            <ng-template #caption>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4">
                      <div class="flex items-center space-x-2">
                        <p-button icon="pi pi-filter-fill" class="mr-2" />
                        <p-multiselect display="chip" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{ 'min-width': '200px' }" placeholder="Choose Columns" />
                        <p-iconfield class="flex items-center">
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Referencia" class="border rounded-md p-2 w-full" />
                        </p-iconfield>
                      </div>
                    </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th *ngFor="let col of selectedColumns" pReorderableColumn pSortableColumn="{{ col.field }}" pColumnFilter >
                        {{ col.header }}
                          <p-sortIcon field="{{ col.field }}" />
                    </th>
                    <th style="min-width: 8rem">Acciones</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                    <tr>
                        <td *ngFor="let col of selectedColumns" (click)="editProduct(product)" class="cursor-pointer">
                          <ng-container *ngIf="col.field === 'image'; else textContent">
                            <img [src]="product[col.field]" alt="Imagen del producto" style="width: 50px; height: 40px;">
                          </ng-container>
                          <ng-template #textContent>{{ product[col.field] || '-Sin información-'}}</ng-template>
                        </td>
                        <td >
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
                        </td>
                      </tr>
            </ng-template>
        </p-table>

        <!-- <p-dialog [(visible)]="productDialog" [style]="{ width: '1250px', height: '1250px' }" header="Materialess" [modal]="true">
            <ng-template #content>
                <div class="card">
                <p-splitter [style]="{ height: '650px' }" [panelSizes]="[20, 80]" [minSizes]="[10, 0]" styleClass="mb-8">
                    <ng-template #panel>
                        <div class="col flex flex-col items-center justify-center">
                             <p-button label="Ver PDF" icon="pi pi-eye" class="mt-4" />
                             <p-button label="Importar PDF" icon="pi pi-file-import" class="mt-2"  />
                             <p-button label="Eliminar PDF" icon="pi pi-trash" class="mt-2"  />
                              <img [src]="'' + product.image" [alt]="product.image" class="block m-auto pb-4 w-40" *ngIf="product.image" />
                             <p-button label="Importar Imagen" icon="pi pi-file-import" class="mt-2"  />
                             <p-button label="Ver Especificación" icon="pi pi-trash" class="mt-2 mb-2"  />
                        </div>
                    </ng-template>
                    <ng-template #panel>
                        <p-splitter layout="vertical" [panelSizes]="[70, 30]">
                            <ng-template #panel>
                            <div class="card flex flex-col gap-4">
                                <div class="font-semibold text-xl"></div>
                                    <div class="flex flex-wrap gap-6">
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Referencia</label>
                                            <input pInputText id="name2" type="text" value="{{ product.code }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="email2">Unidad</label>
                                            <input pInputText id="email2" type="text" value="{{ product.price_1 }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Fecha</label>
                                            <input pInputText id="name2" type="text" value="{{ product.name }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Descripción</label>
                                            <input pInputText id="name2" type="text" value="{{ product.descrip }}" />
                                        </div>

                                    </div>
                                    <div class="flex flex-wrap gap-6">
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Precio</label>
                                            <input pInputText id="name2" type="text" value="{{ product.code }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="email2">Desperdicio</label>
                                            <input pInputText id="email2" type="text" value="{{ product.price_1 }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Precio en Dolares</label>
                                            <input pInputText id="name2" type="text" value="{{ product.name }}" />
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap gap-6">
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Comentario</label>
                                            <input pInputText id="name2" type="text" value="{{ product.code }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="email2">Agrupación</label>
                                            <input pInputText id="email2" type="text" value="{{ product.price_1 }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Aporta V.A.N</label>
                                            <input pInputText id="name2" type="text" value="{{ product.name }}" />
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap gap-6">
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="name2">Familia BCV</label>
                                            <input pInputText id="name2" type="text" value="{{ product.code }}" />
                                        </div>
                                        <div class="flex flex-col grow basis-0 gap-2 mr-8">
                                            <label for="email2">Proveedor</label>
                                            <input pInputText id="email2" type="text" value="{{ product.price_1 }}" />
                                        </div>
                                    </div>
                            </div>

                            </ng-template>
                            <ng-template #panel>
                                <p-splitter [panelSizes]="[20, 80]">
                                    <ng-template #panel>
                                        <div class="col flex flex-col items-center justify-center">
                                            <p-button label="Guardar Como"  class="mt-4" />
                                            <p-button label="Guardar"  class="mt-2"  />
                                            <p-button label="Cancelar"  class="mt-2"  />
                                            <p-button label="Salir" class="mt-2"  />
                                        </div>
                                    </ng-template>
                                    <ng-template #panel>
                                        <div class="w-full flex items-center justify-center">
                                         <div class="flex flex-col items-center justify-center">
                                                <div class="col flex items-center justify-center gap-x-4">
                                                    <p-button label="Nuevo" severity="info" />
                                                    <p-button label="Modificar" severity="info" />
                                                    <p-button label="Eliminar" severity="info" />
                                                    <p-button label="Busqueda" severity="info" />
                                                </div>
                                                <div class="col flex items-center justify-center mt-4 gap-x-4">
                                                    <p-button type="button" styleClass="h-full" icon="pi pi-angle-double-left"  />
                                                    <p-button type="button" styleClass="h-full" icon="pi pi-angle-left"  />
                                                    <p-button type="button" styleClass="h-full" icon="pi pi-angle-right"  />
                                                    <p-button type="button" styleClass="h-full" icon="pi pi-angle-double-right"  />
                                                </div>
                                         </div>
                                        </div>
                                    </ng-template>
                                </p-splitter>
                            </ng-template>
                        </p-splitter>
                    </ng-template>
                </p-splitter>
            </div>
            </ng-template>

            <ng-template #footer>
                <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
            </ng-template>
        </p-dialog> -->

        <p-confirmdialog [style]="{ width: '450px' }" />



