.dificultad-baja {
  background-color: #d4edda;
  /* Verde claro */
  color: #155724;
  /* Verde oscuro */
}

.dificultad-media {
  background-color: #fff3cd;
  /* Amarillo claro */
  color: #856404;
  /* Amarillo oscuro */
}

.dificultad-alta {
  background-color: #f8d7da;
  /* Rojo claro */
  color: #721c24;
  /* Rojo oscuro */
}

