<app-topbar class="mb-6"></app-topbar>

<div
  class="card mr-8 ml-8 mb-8 shadow-xl"
  style="margin-top: 75px; background-color: rgba(255, 255, 255, 0.591)"
>
  <marquee behavior="" direction="left" class="text-black"
    >BIENVENIDOS A “CREACIÓN DE BASE DE DATOS DE MÁS DE 1000 PARTIDAS CON SUS
    ANÁLISIS DE PRECIOS UNITARIOS (APU) E INSUMOS, ASÍ COMO 4 PRESUPUESTOS TIPO
    PARA METOR, SEGÚN ESPECIFICACIONES DEL CONTRATANTE EN ÁREAS DIVERSAS A SER
    ACORDADAS</marquee
  >
  <p-table
    #dt2
    [value]="procesosUnicosArray"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    showGridlines
    [globalFilterFields]="[
      'proceso_contratacion',
      'partidas_totales',
      'descripcion_corta_nombre_contrato',
    ]"
    id="table-data"
  >
    <ng-template #caption>
      <div class="container mx-auto p-4">
        <div class="flex flex-col md:flex-row md:items-center md:justify-between">
      <div class="flex flex-wrap justify-start gap-2">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt2, $event)"
            placeholder="Buscar Proceso"
          />
        </p-iconfield>
        <p-button (click)="exportToExcel(procesosUnicosArray,'unico')" label="Exportar" icon="pi pi-file-excel" severity="success" />

        <p-button (click)="generatePdf(procesosUnicosArray,'unico')" label="Exportar" icon="pi pi-file-pdf" severity="danger" />

      </div>
</div>
</div>
    </ng-template>

    <ng-template #header>
      <tr>

        <th>#</th>
        <th class="thPC"><i class="pi pi-box"></i> Proceso de Contratación</th>

        <th><i class="pi pi-comment"></i> Nombre del Contrato</th>
        <th class="thPC">
          <i class="pi pi-sort-numeric-down"></i> Total de Partidas
        </th>
        <th class="thPC"><i class="pi pi-file-import"></i> Documentación</th>
      </tr>
    </ng-template>
    <ng-template #body let-product let-expanded="expanded">
      <tr class="hover:bg-black hover:text-white">
        <td>{{ calculateRowIndex(dt2, product) }}</td>
        <td style="text-align: center">
          <p-button
            severity="danger"
            (onClick)="filtrarProductos(product)"
            class="mt-2"
            (click)="showDialog(filteredProducts)"
            pTooltip="Ver proceso de Contratación"
            tooltipPosition="top"
            [style]="{ width: '200px', height: '40px' }"
            tooltipEvent="hover"
          >
            <p>
              {{ product.proceso_contratacion }}
            </p>
          </p-button>
        </td>

        <td pTooltip="{{ product.nombre_contrato }}"
            tooltipPosition="top"
            tooltipEvent="hover"
            >{{ product.descripcion_corta_nombre_contrato }}</td>
        <td style="text-align: center"
         pTooltip="{{ 'Monto Total CD: '+product.monto_total_cd }}"
            tooltipPosition="top"
            tooltipEvent="hover"

        >{{ product.partidas_totales }}</td>
        <td style="text-align: center">
          <p-button
            icon="pi pi-eye"
            severity="info"
            class="mt-2"
            (onClick)="archivo(product)"
            pTooltip="Ver documentación"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-product>
      <tr>
        <td colspan="7">
          <div class="p-4">
            <h5>Ordenando por {{ product.proceso_contratacion }}</h5>
            <p-multiselect
              class="mb-9 "
              display="chip"
              [options]="cols"
              [(ngModel)]="selectedColumns"
              optionLabel="header"
              selectedItemsLabel="{0} columns selected"
              placeholder="Choose Columns"
            />
            <p-button
              (onClick)="archivo(product.proceso_contratacion)"
              class="ml-8"
              (click)="showDialog(filteredProducts)"
              >VER ARCHIVOS - {{ product.proceso_contratacion }}</p-button
            >
            <p-table
              stripedRows
              class="shadow-lg"
              [value]="filteredProducts"
              [columns]="selectedColumns"
              scrollable="true"
              scrollHeight="400px"
              showGridlines
              [resizableColumns]="true"
              [columns]="cols"
              [reorderableColumns]="true"
            >
              <ng-template #header>
                <tr>
                  <th
                    *ngFor="let col of selectedColumns"
                    pResizableColumn
                    pReorderableColumn
                  >
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>
              <ng-template #body let-item>
                <tr>
                  <td *ngFor="let col of selectedColumns">
                    {{ item[col.field] || "- Sin información -" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [modal]="true"
  [header]="'PROCESOS DE CONTRATACIÓN ' + this.informacion?.proceso_contratacion + ' - ' + this.informacion?.descripcion_corta_nombre_contrato"
  [(visible)]="visible"
  [contentStyle]="{ 'max-width': '100vw','overflow-x': 'auto' , 'height': '100vw','width': '90vw', }"
  [maximizable]="false"
>

  <div style="min-width: 2000px;"> <!-- Ajusta este valor según el ancho total de la tabla -->
    <div>

    </div>
 <p-button (click)="exportToExcel(this.informacion,'filtrado')" label="Exportar" icon="pi pi-file-excel" severity="success" class="mr-4" />
 <p-button (click)="generatePdf(filteredProducts,'filtrado')" label="Exportar" icon="pi pi-file-pdf" severity="danger" class="mr-4" />
    <p-multiselect
      display="chip"
      [options]="cols"
      [(ngModel)]="selectedColumns"
      optionLabel="header"
      [maxSelectedLabels]="5"
      selectedItemsLabel="{0} columns selected"
      [style]="{
        'justify-content': 'center',
        'align-items': 'center',
        'margin-bottom': '20px',
        'text-align': 'items-center'
      }"
      placeholder="SIN COLUMNAS SELECCIONADAS"
    />

    <p-table
    id="tableFiltrada"
      #dt3
      [value]="filteredProducts"
      [resizableColumns]="false"
           [rowHover]="true"
            dataKey="id"
            [showCurrentPageReport]="true"
            [showGridlines]="true"
            [columns]="selectedColumns"
            [reorderableColumns]="true"
            [scrollable]="true"
            scrollHeight="700px"
            [autoLayout]="true"

    >
      <ng-template #header>
        <tr>
          <th>#</th>
          <th
            *ngFor="let col of selectedColumns"
            pResizableColumn
            pReorderableColumn
          >
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr class="hover:bg-blue-400 hover:text-white">
          <td class="w-10">{{ calculateRowIndex(dt3, item) }}</td>
          <td
            *ngFor="let col of selectedColumns"
            [ngClass]="
              col.field === 'clasificacion_dificulta_apu'
                ? getDificultadClass(item['clasificacion_dificulta_apu'])
                : ''
            "
            [innerHTML]="insertLineBreaks(item[col.field])"
            [style.width]="col.width"
          ></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<style>
  .p-dialog-title {
    text-align: center;
    width: 100%;
  }
</style>

<p-dialog
  [modal]="true"
  [(visible)]="visible2"
  [contentStyle]="{ 'max-width': '90vw' }"
  [breakpoints]="{ '1199px': '90vw', '575px': '95vw' }"
  [maximizable]="false"
>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      margin-bottom: 35px;
    "
  >
    <span
      >ARCHIVOS DE PROCESOS DE CONTRATACIÓN
      {{ this.informacion?.proceso_contratacion }} -
      {{ this.informacion?.descripcion_corta_nombre_contrato }}</span
    >
  </div>
  <p-carousel
    [value]="pdfs"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
  >
    <style>
      .largoh {
        height: 300px;
        width: 350px;
      }
      .borderg {
        width: 590px;
      }
    </style>
    <ng-template let-pdf #item>
      <p-card
        header="{{ pdf.nombre }}"
        class="flex justify-center items-center"
      >
        <iframe [src]="pdf.url" class="largoh" type="application/pdf"></iframe>
        <br/>
        <span>
          <a [href]="pdf.url" target="_blank"
            ><p-button icon="pi pi-eye" class="items-center mt-4" severity="success"
          /></a>
        </span>
      </p-card>
    </ng-template>
  </p-carousel>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6"
  >
    <p-card
      *ngFor="let archivo of archivosDescargables"

      class=" justify-center items-center"
    >

    <p>{{archivo.nombre}}</p>

    <p-button
        [style]="{ 'background-color': getBackgroundColor(archivo.url) }"
        label="Descargar archivo"
        icon="pi pi-download"
        (onClick)="descargarArchivo(archivo.url)"
        class="p-button-rounded anchoBoton">
    </p-button>
    </p-card>

  </div>
</p-dialog>

<p-dialog
  header="información"
  [modal]="true"
  [(visible)]="visible3"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <p>Archivos no encontrados</p>
</p-dialog>
