.dificultad-baja {
  background-color: #d4edda;
  /* Verde claro */
  color: #155724;
  /* Verde oscuro */
}

.dificultad-media {
  background-color: #fff3cd;
  /* Amarillo claro */
  color: #856404;
  /* Amarillo oscuro */
}

.dificultad-alta {
  background-color: #f8d7da;
  /* Rojo claro */
  color: #721c24;
  /* Rojo oscuro */
}


.p-button-custom-pdf {
  color: red !important;
  /* Color de texto rojo */
}

.p-button-custom-docx {
  color: #1F5EBC !important;
  /* Color de texto azul */
}

.p-button-custom-xlsx {
  color: green !important;
  /* Color de texto verde */
}
        .thPC {
          width: 15% !important;
          text-align: center;
        }
