<div id="hero">
  <div class="fondoescrito mx-4 md:mx-20 mt-0 md:mt-6">
    <h1 class="text-lg sm:text-lg md:text-2xl font-bold text-white leading-tight mb-4">
      <span class="font-light block"><b>BIENVENIDOS A “CREACIÓN
        DE BASE DE DATOS DE 1000 PARTIDAS CON SUS ANÁLISIS DE PRECIOS UNITARIOS
        (APU) E INSUMOS, ASÍ COMO 4 PRESUPUESTOS TIPO PARA METOR, SEGÚN
        ESPECIFICACIONES DEL CONTRATANTE EN ÁREAS DIVERSAS A SER ACORDADAS”.</b></span>
      <span class="typing-effect text-base sm:text-xl md:text-3xl lg:text-4xl" #typedText></span>
    </h1>
    <p class="font-normal mt-2 md:mt-4 text-white text-base sm:text-lg">
      <span class="text-red-500 bg-white rounded px-2">Metanol de Oriente Metor S A</span>
      <span class="text-blue-500 bg-white rounded px-2 ml-2 sm:ml-4">DataLaing MaPreX</span>
    </p>
<a href="/proceso">
    <p-button
    icon="pi pi-play-circle"
      type="button"
      label="COMENZAR"
      severity="danger"
      class="mt-8 md:mt-8 text-lg"
      >
    </p-button></a>

    <style>

    .logoMaprex{
      margin-top: -10%;
      margin-left: 70%;
    }

    </style>


<div class="flex justify-center md:justify-end lg:justify-end ">
    <a href="https://datalaing.net/#/login" class="w-100"><img src="maprexe.png" width="25% sm:w-56 md:w-10%" alt="Hero Image" class="logoMaprex sm:p-8 " /></a>
</div>

  </div>

</div>
