<div id="hero">
  <div class="fondoescrito mx-4 md:mx-20 mt-0 md:mt-6">
    <h1 class="text-lg sm:text-lg md:text-2xl font-bold text-white leading-tight mb-4">
      <span class="font-light block"><b>BIENVENIDOS A “CREACIÓN
        DE BASE DE DATOS DE 1000 PARTIDAS CON SUS ANÁLISIS DE PRECIOS UNITARIOS
        (APU) E INSUMOS, ASÍ COMO 4 PRESUPUESTOS TIPO PARA METOR, SEGÚN
        ESPECIFICACIONES DEL CONTRATANTE EN ÁREAS DIVERSAS A SER ACORDADAS”.</b></span>
      <span class="typing-effect text-base sm:text-xl md:text-3xl lg:text-4xl" #typedText></span>
    </h1>
    <p class="font-normal mt-2 md:mt-4 text-white text-base sm:text-lg">
      <span class="text-red-500 bg-white rounded px-2">JUNTOS SUMAMOS</span>
      <span class="text-blue-500 bg-white rounded px-2 ml-2 sm:ml-4"><a href="jose.avif">DIVIDIDOS RESTAMOS</a></span>
    </p>
<a href="/listado">
    <p-button
      type="button"
      label="COMENZAR"
      severity="danger"
      class="mt-4 md:mt-8"
      >
    </p-button></a>


  </div>
  <div class="flex justify-center md:justify-end">
    <img src="maprexe.png" width="40% sm:w-56 md:w-30%" alt="Hero Image" class="p-4 sm:p-8 mb-4" />
  </div>
</div>
