<div id="hero">
  <div class="fondoescrito text-2xl leading-normal  mx-6 md:mx-20 mt-0 md:mt-6">
    <h1 class="text-6xl font-bold text-white leading-tight">
      <span class="font-light block">BIENVENIDOS</span>
      <span class="typing-effect" #typedText></span>
    </h1>
    <p class="font-normal w-18  md:mt-4 text-white">
      <span class="text-red-500 bg-white rounded px-2">JUNTOS SUMAMOS</span>
      <span class="text-blue-500 bg-white rounded px-2 ml-2">DIVIDIDOS RESTAMOS</span>
    </p>
   <p-button pButton pRipple
          [rounded]="true"
          type="button"
          label="COMENZAR"
          severity="danger"> </p-button>
  </div>
  <div class="flex justify-center md:justify-end">
    <img src="maprexe.png" width="30%" alt="Hero Image" class="p-8 mb-4" />
  </div>
</div>
